<app-header></app-header>
<div class="form-card">
    <div>
        <h2>NOUVEAU POST</h2>
    </div>
    <form [formGroup]="createPostForm">
        <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" formControlName="description"></textarea>
        </div>
        <div class="form-group">
            <label for="imageUrl">ajouter l'URL de l'image</label>
            <input type="text" id="imageUrl" formControlName="imageUrl">
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="submitPost(createPostForm.value)"[disabled]="createPostForm.invalid" type="submit" >Poster</button>
        </div>
    </form>
</div>

