html body{
    height: 100%;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.global{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.left{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.rigth{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.logo{
   height: 8rem;
   width: 100%;
}
h4{
    color: rgb(80,109,189);
}
h5{
    color: rgb(254, 254, 254);
    font-weight: bold;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background-color: rgb(80,109,189) ;
    padding: 5rem;
    border-radius: 15px;
}
.form .btnValide button {
    background-color: rgb(219, 124, 55) ;
}
.forme {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background-color: rgb(219, 124, 55) ;
    padding: 5rem;
    border-radius: 15px;
}
.forme .btnValide button {
    background-color: rgb(80,109,189) ;
}
  
  
.example-full-width {
    width: 100%;
  }

.btnValide{
    display: flex;
    justify-content: center;
}


/* ***********    Media Querries ************* */

@media screen and (max-width: 750px) {
    body{
        height: unset ;
            
    }
    .global{
        flex-direction: column;
        gap: 0;
        margin-bottom: 100px;
    }
    
    div .left{
        width: 75%;
    }
    div .rigth{
        margin: 2px;
    }

    
    
}
