<body>
<div class="global">
<div class="left">

    <div class="logo">
       <img src="assets/images/logo-together.png" alt="" height="170%" width="110%" >
    </div>
    <div>
        <h4>Bienvenue dans votre BACK OFFICE administrateur</h4>
    </div>
    
</div>

<div class="rigth">

    <div class="form">
        <form [formGroup]="loginForm">
            <h5>AJOUT DE NOUVEAUX COLLABORATEUR</h5>
            <mat-form-field class="example-full-width">
                <mat-label>Entrez votre email</mat-label>
                <input matInput placeholder="labelle@gmail.com" formControlName="mail">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Entrez votre mot de passe</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="mdp">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div class="example-label"></div>
            <div class="btnValide">
                <button (click)="goToCreation()" [disabled]="loginForm.invalid" mat-raised-button color="primary">Se connecter</button>
            </div>
        </form>
    </div>
</div>
<div class="rigth">

    <div class="forme">
        <form [formGroup]="loginForm">
            <h5>ACCÉS AUX CONTENUS</h5>
            <mat-form-field class="example-full-width">
                <mat-label>Entrez votre email</mat-label>
                <input matInput placeholder="labelle@gmail.com" formControlName="mail">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Entrez votre mot de passe</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="mdp">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div class="example-label"></div>
            <div class="btnValide">
                <button (click)="goToHome()" [disabled]="loginForm.invalid" mat-raised-button color="primary">Se connecter</button>
            </div>
        </form>
    </div>
</div>
</div>
</body>